@model IEnumerable<MovieDto>

<header>
    <h1>List of the Movies</h1>
    <a href="/MoviePage/New">Insert New</a>
</header>
<div class="row">
    @foreach (var Movie in Model)
    {
        <div>
            <a href="/MoviePage/Details/@Movie.MovieId">@Movie.MovieName</a>
        </div>
    }
</div>
