@model IEnumerable<Member>

<header>
    <h1>List of the Members</h1>
    <a href="/MemberPage/New">Insert New</a>
</header>
<div class="row">
    @foreach (var Member in Model)
    {
        <div>
            <a href="/MemberPage/Details/@Member.MemberId">@Member.MemberName</a>
        </div>
    }
</div>