<h1>Add a new author</h1>

<form action="/AuthorPage/Add" method="POST">
    <div class="inputBox">
        <label for="name">Name:</label>
        <input type="text" id="name" name="AuthorName" />
    </div>
    <div class="inputBox">
        <label for="description">Bio:</label>
        <textarea id="description" name="AuthorDescription"></textarea>
    </div>
    <button class="btn" type="submit">Submit</button>
</form>