@model ScreeningDto

<h1>Are you sure that you want to delete the screening - @Model.ScreeningId ?</h1>
<a href="/ScreeningPage/Details/@Model.ScreeningId">Cancel</a>
<form method="POST" action="/ScreeningPage/Delete/@Model.ScreeningId">
    <input type="submit" value="Confirm Delete" />
</form>