@model IEnumerable<ScreeningDto>;

<a href="/ScreeningPage/New">Add New</a>
<div class="row">
    @foreach (var Screening in Model)
    {
        <div>
            <a href="/ScreeningPage/Details/@Screening.ScreeningId">@Screening.Movie (@Screening.ShowDate @Screening.StartTime)</a>
        </div>
    }
</div>

